:root {
  --body-color: #e8e6e3;
  --title-link-color: #21b326;
}
html {
  font-size: 1rem;
  line-height: 1.3;
}
body {
  margin: 0;
  color: var(--body-color);
  overflow-x: hidden;
  background-image: linear-gradient(180deg, #00001f 0%, #04619f 74%);
}
.tag {
  font-weight: bold;
  text-align: left;
  color: #0006ce;
  margin: 3px 0 0 6px;
}
strong {
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
}
#home {
  height: 100vh;
}
#projects {
  height: 70vh;
}
#get-in-touch {
  height: 80vh;
}
.section-title {
  text-align: center;
  font-size: 2.5em;
}
.section-title h1 {
  font-family: "Courier New", cursive, sans-serif;
  padding: 60px 0 20px 0;
  color: var(--title-link-color);
}
.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  margin: auto;
  width: 90%;
  max-width: 1200px;
}
.flexbox-item {
  width: 40%;
  min-width: 480px;
}
/* Menu Header section */
.menu-header-container {
  display: flex;
  position: fixed;
  justify-content: center;
  list-style: none;
  left: 0;
  right: 0;
  background-image: linear-gradient(to right, #000000, #04619f, #000000);
  padding: 10px;
  margin: 0;
  z-index: 100;
}
.menu-header-container a {
  text-decoration: none;
  color: var(--body-color);
  font-size: 1.5em;
  padding: 13px 25px;
}
.menu-header-container a:hover {
  background-color: #006119b8;
}
/* Home section */
.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 800px;
  margin: auto;
  align-items: center;
  text-align: center;
  height: inherit;
}
.intro-text {
  font-size: 54px;
  font-family: "Lucida Console", monospace, sans-serif;
}
.intro-text span {
  opacity: 0;
}
/* Intro text animation */
.intro-text span:nth-of-type(1) {
  animation: intro-move 1s linear 1s forwards;
}
.intro-text span:nth-of-type(2) {
  animation: intro-move 2s linear 2s forwards;
}
.intro-text span:nth-of-type(3) {
  animation: intro-move 2s linear 3s forwards;
}
.intro-text span:nth-of-type(4) {
  animation: intro-move 2s linear 4s forwards;
}
.intro-text span:nth-of-type(5) {
  animation: intro-move 2s linear 5s forwards;
}
.intro-text span:nth-of-type(6) {
  font-size: 27px;
  font-family: auto;
  animation: intro-move 2s linear 7s forwards;
}
@keyframes intro-move {
  0% {
    opacity: 0;
  }
  33% {
    opacity: .33
  }
  67% {
    opacity: .67;
  }
  100% {
    opacity: 1;
  }
}
/* Chevron section */
.scroll-down-container {
  position: relative;
  width: 24px;
  height: 24px;
  animation: intro-move 2s linear 8s forwards;
}
.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out 8s infinite;
}
.chevron:first-child {
  animation: move 3s ease-out 9s infinite;
}
.chevron:nth-child(2) {
  animation: move 3s ease-out 10s infinite;
}
.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}
.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}
.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}
@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
/* About section */
.introduction {
  font-size: 1.5rem;
  margin: 20px 0;
}
.skills-container {
  width: 33%;
}
.skill-item {
  display: flex;
  border: 3px solid black;
  margin-bottom: 9px;
}
.bar-filled {
  background-color: #66c2cc;
  height: 26px;
}
.language-title {
  font-size: 1.5em;
  color: var(--title-link-color);
}
#doggo-img {
  width: 220px;
  height: 160px;
}
#kitty-img {
  height: 160px;
}
/* 'About' animation */
@keyframes slide-from-left {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slide-from-right {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
/* Projects section */
.project-item {
  display: flex;
  position: relative;
  align-items: center;
  width: 220px;
  height: 200px;
  font-size: 2.3rem;
}
.project-item .title {
  position: absolute;
  width: 100%;
  top: 10%;
  z-index: 1;
  cursor: default;
}
.project-item img {
  opacity: 0.3;
  width: 100%;
  height: 100%;
}
.learn-more {
  display: none;
  position: absolute;
  color: var(--title-link-color);
  border: 3px solid var(--title-link-color);
  bottom: 10px;
  background-color: #50505073;
  border-radius: 15px;
  padding: 8px;
  left: 24px;
  font-size: 2rem;
  cursor: pointer;
}
.learn-more:hover {
  background-color: #0c3977;
}
.project-item-hover {
  background-color: #424242;
  opacity: 0.1 !important;
}
/* Projects popup */
.popup-learn-more {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  margin: 90px 15%;
  z-index: 100;
  height: 65vh;
  background-color: #171c4e;
}
.popup-learn-more span:nth-child(1) {
  position: absolute;
  font-size: 30px;
  width: 35px;
  right: -25px;
  top: -22px;
  background-color: #868686;
  border-radius: 50px;
  z-index: 10;
  cursor: pointer;
}
.popup-learn-more div:nth-of-type(1) {
  height: 65%;
}
.popup-learn-more div:nth-of-type(2) {
  height: 35%;
}
.popup-learn-more img {
  width: 100%;
  height: 100%;
  opacity: 1;
}
.popup-learn-more p {
  font-size: 20px;
  text-align: left;
  padding: 15px 15px 0 15px;
  margin: 0;
}
.popup-learn-more a {
  color: var(--title-link-color);
  position: absolute;
  bottom: 10px;
  left: 37%;
}
/* Get in Touch section */
.contact-title {
  font-size: 30px;
}
.contact-text {
  font-size: 20px;
}
.contact-text a {
  color: var(--title-link-color);
  font-size: 28px;
}
form {
  margin-top: 45px;
}
form input,
form textarea {
  width: 100%;
  padding: 8px;
  margin: 1px;
  font-size: 16px;
  border: 0;
  background-color: #4a4a4a;
  color: #ffffff;
}
::placeholder {
  color: #ffffff;
  opacity: 1;
  /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ffffff;
}
form textarea {
  height: 160px;
}
form button {
  border: 2px solid #0300ad;
  border-radius: 20px;
  float: right;
  margin-top: 6px;
  padding: 10px 30px;
  color: inherit;
  background-color: #0300ad;
}
/* Mobile Responsive */
@media (max-device-width: 600px) {
  .menu-header-container {
    font-size: 30px;
    justify-content: space-around;
  }
  .intro-text span:nth-of-type(6) {
    font-size: 47px;
  }
  .intro-text span {
    font-size: 48px;
  }
  .section-title {
    font-size: 3.8em;
  }
  .section-title h1 {
    padding: 100px 0 0 0;
  }
  .introduction {
    font-size: 3rem;
  }
  .profile-pic img {
    width: 50%
  }
  .introduction {
    margin-top: 45px;
    margin-bottom: 45px;
  }
  #doggo-img {
    width: 340px;
    height: 250px;
  }
  #kitty-img {
    height: 250px;
  }
  #about .flexbox-item {
    width: 90%;
  }
  .skills {
    margin-top: 40px;
    font-size: 2.5em;
  }
  .bar-filled {
    height: 53px;
  }
  #projects {
    height: 100vh;
  }
  .project-item {
    width: 500px;
    height: 480px;
    margin-bottom: 50px;
    font-size: 4em;
  }
  .learn-more {
    font-size: 1em;
    left: 84px;
    bottom: 40px;
  }
  .popup-learn-more {
    width: 90%;
    margin: 5%;
    top: 300px;
    height: 60vh;
  }
  .popup-learn-more p {
    font-size: 40px;
  }
  .popup-learn-more div:nth-of-type(1) {
    height: 45%;
  }
  .popup-learn-more a {
    left: 28%;
  }
  .popup-learn-more span:nth-child(1) {
    font-size: 60px;
    width: 75px;
    top: -53px;
  }
  #get-in-touch {
    height: 70vh;
  }
  #get-in-touch .flexbox-container {
    width: 100%;
  }
  .contact-title,
  .contact-text a {
    font-size: 50px;
  }
  .contact-text {
    font-size: 38px;
  }
  #get-in-touch .flexbox-item {
    width: 65%;
    margin-bottom: 50px;
  }
  form input,
  form textarea {
    font-size: 30px
  }
  form textarea {
    height: 250px;
  }
}
@media (min-device-width: 601px) and (max-device-width: 1150px) {
  html {
    font-size: 1rem;
  }
  .intro-text {
    font-size: 40px;
  }
  .skills {
    margin-top: 40px;
  }
  #get-in-touch .flexbox-container {
    width: 100%;
  }
  .project-item {
    font-size: 2rem;
  }
}